<!DOCTYPE html>
<html ng-app="badwords">
<head>
<meta charset="UTF-8">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="js/badwords.js"></script>
<link rel="stylesheet" href="css/milligram.css">
<title>Badwords</title>
</head>

<body>

	<div class="containter" ng-controller="controller">
		<div class="row" style="padding-top: 200px; background-color: #f4f5f6; border-bottom: 2px solid #9b4dca">
			<div class="column column-50 column-offset-25">
				<h2>Lorem shitstum</h2>
			</div>
		</div>
		
		<div class="row" style="padding-top: 20px">
			<div class="column column-50 column-offset-25">
				<label class="label-inline" for="number">Počet znaků:</label> <input
					id="number" type="text" ng-model="count" style="width: 50px"></input>
				<button class="button button-large float-right" ng-click="getBadword(count)">Get
					dirty</button>
			</div>
		</div>
		<div class="row">
			<div class="column column-50 column-offset-25" ng-hide="badword == false">
				<textarea id="area" style="background-color: #f4f5f6"
					ng-model="badword">{{badword}}</textarea>
			</div>
		</div>


	</div>
<script>
var msg = new SpeechSynthesisUtterance('Hello World');
window.speechSynthesis.speak(msg);
</script>
</body>
</html>